@import '../../../../variables.scss';
@import '../../../../_mixins.scss';

.change {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 224px;

  &Title {
    @include text-subtitle;
    margin-bottom: 10px;
  }

  &Form {
    width: 100%;
    max-width: 224px;
  }

  &Alert {
    margin-top: 7px;
  }

  &Button {
    margin-top: 20px;
  }
}