@import '../../../../../variables.scss';
@import '../../../../../_mixins.scss';

.auth {
    display: flex;
    flex-direction: column;

    &Title {
        @include text-subtitle;
        margin-bottom: 20px;
    }

    &Subtitle {
      @include text-regular;
      margin-bottom: 10px;
    }
  
    &Inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 224px;
    }
  
    &Alert {
      margin-top: 5px;
    }
  
    &Link {
      margin-top: 10px;
    }
  
    &Buttons {
      display: flex;
      flex-direction: row;
      align-self: flex-end;
      gap: 10px;
      margin-top: 20px;
    }
  }