@import '../../_variables.scss';
@import '../../_mixins.scss';

.root {
    position: relative;
}

.icon {
    position: absolute;
    bottom: 6px;
    right: 10px;
    z-index: 100;
    width: 20px;
    height: 20px;
    cursor: pointer;

    svg path {
        fill: $icon_low_accent;
    }
}